/* Style for the container that wraps the list of Pokemon names */
.pokemon-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}

/* Style for the card that holds the list of Pokemon names */
.pokemon-list-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: grid; /* Use CSS Grid */
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 1fr)
  ); /* Automatically fit columns with a minimum width of 100px */
  grid-gap: 10px; /* Gap between grid items */
}

/* Style for individual Pokemon names */
.pokemon-list-card > div {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Hover effect for individual Pokemon names */
.pokemon-list-card > div:hover {
  background-color: #f5f5f5;
}
